/* COMMON STYLE, UTILITIES ------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.page-container {
  width: 100%;
  min-width: 1080px;
}

.row {
  width: 1080px;
  margin: 0 auto;
}

.button {
  padding: 10px;
  background: #ff7a59;
  text-align: center;
  color: #fff;
  font-size: 17px;
  border-radius: 3px;
}

/* FINE COMMON STYLE, UTILITIES --------------------- */

/* STILI HEADER ------------------------------------- */
/* inizio stili navbar top */
.container-top-nav {
  background: #f5f8fa;
  border-bottom: 1px solid #33475b;
}

.box-top-nav:first-child {
  padding: 30px 0;
}


.box-top-nav:last-child{
  text-align: right;
  padding: 16px 0;
}

.box-top-nav > ul > li{
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
}

.box-top-nav > ul > li > a, i {
  color: #33475b;
}

.box-top-nav:first-child > ul > li:nth-child(2) {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 2px solid #33475b;
}

.box-top-nav:last-child > ul > li {
  margin-left: 20px;
}

.button-nav {
  color: #ff7a59;
  background: #f5f8fa;
  border: 1px solid #ff7a59;
}

/* fine stili navbar top */

/* stili menu */

.container-menu {
  background: #fff7f4;
}

.menu {
  padding: 25px 0;
}

.menu > ul > li {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-left: 20px;
}

.menu > ul > li > a {
  color: #33475b;
}

.logo {
  position: relative;
  top: 20px;
}

/* fine stili menu */

/* inizio stili jumbotron */

.container-jumbotron {
  width: 100%;
  background: url("../img/jumbotron.png") no-repeat center bottom, linear-gradient(to top right,#fef8f0,#fff3ee,#fff1ee);
}

.jumbo-tx {
  width: 50%;
  padding-bottom: 280px;
}

.jumbo-tx > h1 {
  font-size: 50px;
  color: #33475b;
  padding: 70px 0 40px 0;
}

.jumbo-tx > h5 {
  font-size: 16px;
  color: #33475b;
  margin-bottom: 50px;
  font-weight: 500
}

.jumbo-tx > span {
  font-size: 16px;
  font-weight: 500;
  padding: 20px 30px;
}

.jumbo-tx > p {
  font-size: 12px;
  color: #33475b;
  margin-top: 50px;
  font-weight: 500
}


/* fine stili jumbotron */
